@import "@/scss/variables";

footer {
  width: 100%;
  background: $master-color-0;
  margin-top: 20px;
  padding: 40px 0;
  line-height: 260%;
  .btn-primary {
    min-width: 100px;
    margin-top: 10px;
  }
  img {
    position: relative;
    top: -8px;
    left: 0px;
  }
  dt {
    margin-bottom: 20px;
  }
  dd {
    line-height: 200%;
  }
}
